In [10]:
import pandas as pd
import pylab as pyl
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np

In [11]:
data = pd.read_csv("dummy.csv")
new_data = pd.read_csv("newdata.csv")
new_data['int'] = 1


independentVar = ['Month_Since_Last_Donation', 'Body_Temperature', 'Hemoglobin_Content', 'Weight', 'int']
model1 = sm.Logit(new_data['Donate_Blood'], new_data[independentVar])
answer = model1.fit()
coeffs = answer.params
def y(int, Month_Since_Last_Donation, Body_Temperature, Hemoglobin_Content, Weight):
    return coeffs[4] + coeffs[0] * Month_Since_Last_Donation + coeffs[1] * Body_Temperature + coeffs[
        2] * Hemoglobin_Content + coeffs[3] * Weight

l = []
for i in range(len(data)):
    y1 = y(int, data['Month_Since_Last_Donation'][i], data['Body_Temparature'][i],
           data['Hemoglobin_content'][i], data['weight'][i])
    l.append(y1)

l2 = []
l3 = []
for j in range(len(l)):
    p = np.exp(l[j]) / (1 + np.exp(l[j]))
    l2.append(p)
    if l2[j] > 0.5:
        l3.append(1)
    else:
        l3.append(0)
print(l3)

Optimization terminated successfully.
         Current function value: 0.377000
         Iterations 7
[0, 0, 0, 0, 0, 0, 0, 1, 1, 1]

In [12]:
l2

[0.06033389976979094,
 0.0046106273603927946,
 0.05236840130911935,
 0.019829515051617643,
 0.023604345952563315,
 0.0678920772304963,
 0.09698506882240798,
 0.797416689540772,
 0.5323064314983141,
 0.9993778352628815]

In [13]:
data

,Blood_Group,Body_Temparature,Hemoglobin_content,ID,Month_Since_Last_Donation,email,location,weight
0,O-,38.75,13.96,386,13,sreeragkolath@gmail.com,Thripunithura,89.00
1,O-,38.74,14.06,588,4,sharbin1999@gmail.com,Thripunithura,49.00
2,A-,37.77,12.95,997,1,sreeragkolath@gmail.com,Perumbavoor,68.00
3,A-,38.76,14.75,790,13,littinrajan@gmail.com,Paravur,51.00
4,A-,38.57,14.25,987,10,sreeragkolath@gmail.com,Muvattupuzha,58.00
5,A-,37.50,12.00,917,1,littinrajan@gmail.com,Piravom,70.00
6,A-,38.33,13.17,75,15,sharbin1999@gmail.com,Piravom,79.00
7,A-,36.28,12.84,560,5,sharbin1999@gmail.com,Perumbavoor,62.00
8,A-,37.38,14.74,753,7,sharbin1999@gmail.com,Kochi,73.00
9,A-,34.00,12.00,712,7,sreeragkolath@gmail.com,Kothamangalam,61.27

In [15]:
data['Donate_Blood']=l3

In [23]:
dummy=data[data.Donate_Blood==1]
dummy.to_csv('donate.csv',index=False)

In [25]:
d1= pd.read_csv("donate.csv")

In [26]:
d1

,Blood_Group,Body_Temparature,Hemoglobin_content,ID,Month_Since_Last_Donation,email,location,weight,Donate_Blood
0,A-,36.28,12.84,560,5,sharbin1999@gmail.com,Perumbavoor,62.00,1
1,A-,37.38,14.74,753,7,sharbin1999@gmail.com,Kochi,73.00,1
2,A-,34.00,12.00,712,7,sreeragkolath@gmail.com,Kothamangalam,61.27,1

In [28]:
pat_data = pd.read_csv("patient.csv")
data=pd.read_csv("data.csv")
det = pat_data[pat_data.ID == 132]
det1=det.Blood_Group
pat_blood = det.Blood_Group.tolist()[0]
com={'O-':['O-'],'O+':['O-','O+'],'B-':['O-','B-'],'B+':['O-','O+','B+','B-'],'A-':['O-','A-'],'A+':['O-','A-','A+','O+'],'AB-':['AB-','A-','B-','O-'],'AB+':['AB-','A-','B-','O-','A+','B+','AB+','O+']}
b = com.get(pat_blood)
data1 = pd.read_csv('donor_head.csv')
columns = ['ID', 'Blood_Group','location','email','Month_Since_Last_Donnation','Body_Temparature','Hemoglobin_content','weight']
try:
    for i in b:
        df1 = data[data.Blood_Group == i][columns]
        data1 = data1.append(df1, ignore_index=True)
        print(df1)
    data1.to_csv('dummy.csv', index=False)
except:
    data1.to_csv('dummy.csv', index=False)

In [ ]:
data=pd.read_csv('dummy.csv')